header {
  background-color: black;
  text-align: center;
  opacity: 80%;
}

body {
  
}

.name {
  color: red;
  font-size: 50px;
  font-family: Molot;
}

.lastname {
  color: blue;
  font-size: 50px;
  font-family: Molot;
}

.homeMenu {
   list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#FF4444; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}

.homeRazdelMenu {
   float:left; /*Размещаем список горизонтально для реализации меню*/
}

.textMenu {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#FF4444; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #F36262; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.textMenu:hover {
  background:#D43737;/*добавляем эффект при наведении*/
}

footer {
  background-color: black;
  opacity: 80%;
  text-align: center;
}

.rights {
  color: white;
  font-size: 10px;
}

.social {
  float: left;
  border: 1px solid gray;
}
