header {
  background-color: black;
  opacity: 20%;
}

body {
  
}

.name {
  color: red;
  font-size: 50px;
  font-family: Molot;
  align-content: center;
}

.lastname {
  color: blue;
  font-size: 50px;
  font-family: Molot;
  align-content: center;
}

footer {
  
}
