@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

header {
  height: 40px;
  background-color: black;
  text-align: center;
  opacity: 80%;
}

body {
  
}

.name {
  color: red;
  font-size: 50px;
  font-family: Molot;
}

.lastname {
  color: blue;
  font-size: 50px;
  font-family: Molot;
}

.homeMenu {
   list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#FF4444; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}

.homeRazdelMenu {
   float:left; /*Размещаем список горизонтально для реализации меню*/
}

.textMenu {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#FF4444; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #F36262; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.textMenu:hover {
  background:#D43737;/*добавляем эффект при наведении*/
}

#Time {
  font-family: Molot;
}

.content {
  min-height: calc(100vh - (40px + 55px));
}

footer {
  height: 55px;
  background-color: black;
  opacity: 80%;
  text-align: center;
}

.rights {
  color: white;
  font-size: 10px;
}

.social a {
    text-align: center;
    width: 37px;
    height: 37px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    margin: 0 10px 10px 0;
    padding: 5px;
    color: #000;
}

.github a:hover {
  background: #191919; color: #fff;
}

.youtube a:hover {
  background: #c4302b; color: #fff;
}

.google-pluse a:hover {
  background: #DD4B39; color: #fff;
}

.discord a:hover {
  background: #7289DA; 
}

.discordlogo:hover {
  color: #fff;
}

.vk a:hover {
  background: #5d84ae; color: #fff;
}

.linkedin a:hover {
  background: #0e76a8; color: #fff;
}

.telegram a:hover {
  background: #249bd7; color: #fff;
}
